<section id="header" class="alt">
    <header>
        <a href="javascript:void(0)" class="home-link"> 
            <span class="image avatar"><img src="images/avatar.jpg" alt="Alek Turkmen" /></span>
        </a>
        <h1 id="logo"><a href="javascript:void(0)" class="home-link">Alek Turkmen</a></h1>
        <p>Founder | Engineer @ Cooper Union</p>
    </header>
    <nav id="nav">
        <ul>
            <li><a href="javascript:void(0)" data-scroll="projects">Projects</a></li>
            <li><a href="javascript:void(0)" data-scroll="blogs">Blogs</a></li>
            <li><a href="javascript:void(0)" data-scroll="experiences">Experiences</a></li>
            <li><a href="javascript:void(0)" data-scroll="resume">Resume</a></li>
        </ul>
    </nav>
    <footer>
        <ul class="icons">
            <li><a href="https://www.linkedin.com/in/alekturkmen/" target="_blank" class="icon brands fa-linkedin"><span class="label">Linkedin</span></a></li>
            <li><a href="https://www.instagram.com/alekturkmen/" target="_blank" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://github.com/AlekTurkmen" target="_blank" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="https://www.youtube.com/@alekturkmen" target="_blank" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
            <li><a href="mailto:aleknturkmen@gmail.com" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</section>